/* Estilizando a barra de rolagem vertical */
::-webkit-scrollbar {
    width: 7px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: rgba(241, 241, 241, 0.1); /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-secundary-color); /* Cor da barra de rolagem */
    border-radius: 6px; /* Borda arredondada da barra de rolagem */
}

/* Estilizando a barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
    height: 12px; /* Altura da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor da barra de rolagem ao passar o mouse */
}

:root{
    --blue-primary-color: #0B1957;
    --blue-secundary-color: #5784E6;
    --pink-primary-color: #fa9ebd;
    --lilac-primary-color: #F4D1FF;
}

html, body, .container-fluid {
    height: 100%;
}

html, body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(231,220,242);
    background-image: linear-gradient(90deg, #E7DCF2 0%, #FFE4E8 100%);
}

header{
    height: 147px;
    background-color: var(--blue-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

header nav{
    display: flex;
    justify-content: end;
    flex: 3;
    gap: 30px;
}

header nav a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav a:hover{
    border-bottom: #fff 2px solid;
}

#logo{
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

h2{
    font-size: 48px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

.input_text{
    width: 300px;
    height: 56.25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.input_text::placeholder{
    font-size: 16px;
}

.date{
    width: 285px;
    padding-right: 15px;
}

.input_text_area{
    height: 126px;
    resize: none;
}

.btn{
   width: 305px; 
   height: 66px;
   background-color: var(--blue-primary-color);
   border: none;
   border-radius: 10px;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}

#filter{
    display: flex;
    align-items: center;
}

#filter span{
    font-weight: bold;
}

.filters{
    display: flex;
    justify-content: space-between;
}

#search_bar{
    display: flex;
    align-items: center;
    width: 317px;
}

#search_bar img{
    margin-left: -40px;
}

.cardProject{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 132px;
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
}

.cardProject > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardProject .nameProject h5{
    margin-bottom: 15px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

main > section{
    width: 80%;
    margin-bottom: 30px;
}