main{
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    height: 60%;
    padding-top: 20px;
}

main > section:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main > section:nth-child(3){
    flex: 1;
}

.title{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-img img{
    height: 405px;
    object-fit: cover;
}