.title{
    display: flex;
    justify-content: center;
}

.info > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container-decision{
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 80px;
}

.documents > div {
    margin-bottom: 20px;
}