section{
    display: flex;
    justify-content: center;
    align-items: center;
}

form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

#btnHelp{
    justify-content: end;
}