main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

main > section{
    width: 80%;
}

#openNotices{
    margin-top: 30px;
}

#openNotices > div{
    margin-bottom: 30px;
}


