main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div{
    width: 80%;
    max-width: 80%;
    background-color: var(--blue-primary-color);
    color: #fff;
    margin-top: 100px;
    border-radius: 10px;
    padding: 30px;
}