form > div div{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

h5{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

section nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}

section nav button{
    background-color: transparent;
    color: #000;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 22px 20px;
    text-transform: capitalize;
    width: 182px;
    height: 53px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.btn-background{
    background-color: var(--blue-secundary-color);
}

.divBtnsForm{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.error{
    width: 100%;
}

#container_add_role{
    justify-content: end;
}

table{
    width: 600px;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

thead{
    background-color: #B9B9B9;
    font-weight: bold;
}

th, td{
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
}

tr:hover{
    background-color: #f5f5f5;
}