.navProfile{
    display: flex;
    justify-content: center;
}

.navProfile nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navProfile nav a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 22px 20px;
    text-transform: capitalize;
}

.partSelected{
    background-color: var(--blue-secundary-color);
}

.divBtns{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 426px) {
    .navProfile{
        overflow-x: scroll;
        margin-bottom: 15px;
    }

    .divBtns{
        flex-wrap: wrap!important;
        justify-content: center;
        gap: 20px;
    }

    .navProfile nav a{
        min-width: 182px;
        margin-bottom: 5px;
    }
}

@media (max-width: 769px) {
    .divBtns{
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 10px;
    }

    .navProfile nav{
        gap: 10px;
    }

    .navProfile nav a{
       text-align: center;
    }
}